/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
}
.errors{
 list-style-type: none;
 color: #ef5561;
 margin-bottom: 15px;
 animation-name: slidein;
 animation-duration: 8s;
 }

 @keyframes slidein {
  from { opacity: -1;
  }

  to { opacity: 1;
  }
}

@keyframes sess-log {
    from {
        opacity: 0;
        transform: translateX(20%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes splash-phot {
    from {
        opacity: 0;
        transform: translateX(-20%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes sep-sess {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}


/* float-container {
  border: solid 1px #ccc;
  padding: 0 8px;
  position: relative;
}
.float-container input {
  border: none;
  font-size: 16px;
  padding: 16px 0 10px;
  outline: 0;
}
label {
  font-size: 16px;
  position: absolute;
  transform: translate(0, 16px) scale(1);
}

float-container.active label{
    transform: translate(0, 4px) scale(.75);
} */


.splash-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
  min-height: 100vh;
  contain: content;
}

.splash-photos {
  padding-top: 3%;
  margin: auto;
  position: relative;
  margin-right: 15px;
  animation-name: splash-phot;
animation-duration: 1s;
}
.top {
    position: absolute;
    left: 122px;
    width: 240px;
    top: 114px;
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction: alternate;
}
.middle {
    position: absolute;
    left: 122px;
    width: 240px;
    top: 114px;
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 9s;
    animation-direction: alternate;
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.session-container{
    margin: auto;
    width: 350px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation-name: sess-log;
    animation-duration: 1s;
}
a {
    text-decoration: none;
    color: #3897f0;
}
.Alexander > a {   
    font-family: 'Pacifico', cursive;
    font-weight: 900;
    font-size: 65px;
    color: black;
    transition: color 2s;
    margin-bottom: 20px;
}
.Alexander > a:hover {
    color: #3897f0;
}
.greeting-mesage {
    padding-top: 30px;
    color: #999;
    text-align: center;
    font-weight: 600;
    font-size: 17px;
    margin: 0 40px 10px;
    line-height: 20px;
}
.signup-container {
    box-sizing: border-box;
    padding: 20px 0;
    margin-top: 20px;
    flex-wrap: wrap;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    padding: 10px 0;
    border-radius: 1px;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    color: #9d9d9d;
    width: 348px;
    height: 100%;
} 
.login-container {
    padding: 39px 0;
    margin-top: 50px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    border-radius: 1px;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #9d9d9d;
    width: 350px;
    height: 100%;
} 
.log-input {
    height: 27px;
    width: 270px;
    margin: 5px;
    background-color: #fafafa;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    font-size: 12px;
    padding: 5px;
    color: #d3d3d3;
}
/* .email  {
    position: absolute;
    top: 237px;
    left: 454px;
    font-size: 14px;
    pointer-events: none;
    transition: .5s;
}
.password {
    position: absolute;
    top: 383px;
    left: 454px;
    color: red;
    pointer-events: none;
    transition: .5s;
}
.username {
    position: absolute;
    left: 454px;
    top: 334px;
}
.fullname {
    position: absolute;
    left: 454px;
    top: 285px;
}
.login-form > input:focus ~ .email {
    top: 223px;
    font-size: 10px;
}
.login-form > input:active ~ .email {
    top: 224px;
    font-size: 13px;
    
} */
.login-form > label >input {
    color:black;
}
.submit-button {
    margin: 15px 0;
    background-color: #3897f0;
    width: 100px;
    color: #ffffff;
    height: 30px;
    width: 270px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 6px;
    transition: background-color 2s;
}
.submit-button:hover {
    cursor: pointer;
}
.submit-button:focus {
    outline: 0;
}
.submit-button:hover {
    background-color: red;
}
.demo-box {
    border-top: 1px solid rgb(235, 235, 235);
    width: 270px;
    color: white;
    margin: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    position: relative; 
}
.demo-box > p {
    color: rgb(182, 181, 181);
    font-size: 13px;
    font-weight: bold;
    position: absolute; 
    background: white;
    padding: 15px; 
    top: -21px;
}
.demo-button > i {
    display: inline-block;
    padding-right: 4px;
}

.demo-button {
    background: none;
    border: none;
    margin-bottom: 30px;
    font-size: 15px;
    color: #385185;
    font-weight: bold;
    /* position: absolute; */
    top: 546px;
    margin: top 10px;
 
}
.demo-button:hover {
    cursor: pointer;
}
.underbox {
    margin: 20px 0px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    border-radius: 1px;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: row;
    text-align: center;
    color: #9d9d9d;
    height: 70px;
    width: 352px;
}
.underbox > p {
    color: #272727;
}
.footer{
    background-color: #FAFAFA;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 20px;
}
.login-box {
    height: 100%;
}
.links {
    margin-left: 10px;
    color: #003569;
}
.footer-mes {
    color: #999;
    font-size: 14px;
    margin-left: 40px;
}
.login-link {
    margin-left: 10px;
}
.app-links {
    text-align: center;
}
.link-photos {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.link-photos > a > img{
    height: 40px;
    margin: 4px;
}
.sep-log-form > .footer {
    padding: 169px;
}
.sep-signup-form{
 animation-name: sep-sess;
 animation-duration: 1s;
}
.sep-log-form{
 animation-name: sep-sess;
 animation-duration: 1s;
}
.sep-signup-form > .footer {
    padding: 159px;
}




