/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
}
input:focus {
    outline: none;
    box-shadow: 0 0 1pt 1pt rgb(165, 164, 164);
}

/* float-container {
  border: solid 1px #ccc;
  padding: 0 8px;
  position: relative;
}
.float-container input {
  border: none;
  font-size: 16px;
  padding: 16px 0 10px;
  outline: 0;
}
label {
  font-size: 16px;
  position: absolute;
  transform: translate(0, 16px) scale(1);
}

float-container.active label{
    transform: translate(0, 4px) scale(.75);
} */
/* .email  {
    position: absolute;
    top: 237px;
    left: 454px;
    font-size: 14px;
    pointer-events: none;
    transition: .5s;
}
.password {
    position: absolute;
    top: 383px;
    left: 454px;
    color: red;
    pointer-events: none;
    transition: .5s;
}
.username {
    position: absolute;
    left: 454px;
    top: 334px;
}
.fullname {
    position: absolute;
    left: 454px;
    top: 285px;
}
.login-form > input:focus ~ .email {
    top: 223px;
    font-size: 10px;
}
.login-form > input:active ~ .email {
    top: 224px;
    font-size: 13px;
    
} */