.hidden {
    display: none;
}

.create-button {
  background: TRANSPARENT;
  BORDER: NONE;
}
.close {
  display: flex;
  flex-direction: row-reverse;
}
.close > button {
  outline: none;
  background-color: #7a7a7c;
  border-radius: 97px;
  padding: 6px 9px;
  transition: background-color 0.4s;
}
.close > button:hover {
  background-color: #73b0e9
}
.close > button:focus {
  outline: none;
}
.upload{
  background-color: #FAFAFA;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
}
.upload-text {
    margin-top: 25px
}
.upload > img {
    margin-bottom: 25px;
}
.upload > h1 {
    font-size: 20px;
} 
.upload-text > p {
   color: #003569;
}

.upload > label {
    width: 100px;
    height: 30px;
    background-color: #3897f0;
    color: white;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin: 20px 0;
}
.title {
  display: flex;
  justify-content: space-between;
  div {
    font-size: 25px;
    font-weight: 500;
  }
}
.preview {
    height: 307px;
    width: 331px;
}
.preview > img {
  height: -webkit-fill-available;
  box-shadow: 0px 1px 25px 15px #ccc;
  margin-right: 45px;
  border-radius: 8px;
}
.submit-form {
  display: flex;
  flex-direction: row;
  transition: height 0.5s;
}
.disabled-submit-button {
  outline: none;
  background-color: #92bcf3;
  border-radius: 97px;
  padding: 6px 9px;
  text-align: center;
  font-weight: 400;
  line-height: inherit;
  font-size: 14px;
}
.upload > label:hover {
    animation-name: expand;
    animation-duration: 0.5s;
    cursor: pointer;
}
.user-inputs {
    flex-direction: column;
    display: flex;
    width: 200px;
    justify-content: start;
    p {
      margin-top: 30px;
    }
    input {
    margin-top: 25px;
    border-radius: 3px;width: 100%;
    height: 30px;
    padding: 12px;
    font-size: 13px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    }
    textarea {
      resize: none;
      height: 100px;
      margin-top: 20px;
      border: 1px solid #ebebeb;
    }
    textarea:focus {
      outline: none;
      box-shadow: 0 0 1pt 1pt rgb(165, 164, 164);
    }
    div {
      button {
        width: 100%;
        margin: 0;
        margin-top: 30px;
        border-radius: 97px;
        line-height: 22px;
        height: 34px;
        transition: background-color 0.4s;
      }
    }
}

@keyframes expand {
  from {
    opacity: 0;
    width: 100px;  
  }
  to {
    width: 130px;
    opacity: 1;
  }
}

.upload> label > input {
  display: none;
}


