.feed {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    background-color: #fafafa;
}

.post-box {
  
    width: 605px;
   
    margin-bottom: 50px;
}
.post-header {
    height: 65px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e6e6e6;
}
.dropdown > img {
    height: 15px;
    margin-right: 14px;
    cursor: pointer;
}
.user-info {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.user-info > div {
    margin-left: 15px;
}
.user-picture {
    height: 39px;
    margin-left: 15px;
    border-radius: 31px;
    border: 1px solid #e6e6e6;
}
.user-picture > div > div {
    margin: 2px
}
.location {
    font-size: 14px;
}
.post-picture {
    height: 510px;
    width: 100%;
    border: 1px solid #e6e6e6;
    overflow: hidden;
    background-color: #94949440;
}
.post-picture > a {
    width: 100%;
}

.display-picture {
    height: -webkit-fill-available;
    width: inherit;
    object-fit: cover;
}
.display-picture:hover {
   cursor: pointer;
}
.post-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: #ffffff;
    border: 1px solid rgb(235, 235, 235); 

    .icon-bar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 

        #icons {
            padding-left: 8px; 
            padding-right: 8px; 

            img {
                margin: 8px; 
            }

            img:hover {
                cursor: pointer;
            }
        }

        #num-likes {
            margin-bottom: 8px;
            padding-left: 16px;
            padding-right: 16px; 
            font-weight: 600; 
            font-size: 14px;
        }
    }

    .caption {
        padding-left: 16px; 
        padding-right: 16px; 
        margin-bottom: 10px; 
        display: inline-block; 
        font-size: 14px; 
       
        strong {
           font-weight: 600; 
        }

        em:hover {
            cursor: pointer; 
        }
    }

    .view-all-comments, .home-comment-date {
        padding-left: 16px; 
        padding-right: 16px; 
        font-size: 14px; 
        margin-bottom: 10px; 
    }

    .view-all-comments {
        color: #999999; 
    }

    .view-all-comments:hover {
        cursor: pointer; 
    }

    ul > p > strong {
        font-weight: 600; 
    }

    ul > p {
        padding-left: 16px; 
        padding-right: 16px; 
        font-size: 14px; 
        margin-bottom: 10px; 
    }

    .home-comment-date {
        color: #999999; 
        font-size: 10px; 
    }


    .comment-box {
        display: flex;
        flex-direction: row; 
        max-height: 80px;
        height: 56px;
        padding-left: 16px; 
        align-items: center; 
        border-top: 1px solid rgb(235, 235, 235); 

        textarea {
            width: 88%;
            height: 90%;
            text-align: justify;
            border: none;
            resize: none;
            font-size: 15px;
            padding: 15px 0;
            box-sizing: border-box;
            margin-right: 10px;
        }

        textarea:focus {
            outline: none;
            cursor: text;
        }

        p {
            font-size: 14px;
            font-weight: 500;
        }

        .real-comment-button {
            color: #3897f0;
        }

        .real-comment-button:hover {
            cursor: pointer;
        }

        .fake-comment-button {
            color: #84bcf0
        }
    }
}