.feed {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: left;
    margin-top: 20px;
}

.post-box {
    height: 1070px;
    width: 605px;
    background-color: aquamarine;
    margin-bottom: 50px;
}
.post-header {
    height: 6%;
    width: 100%;
    background-color: darkgray;
}
.post-picture {
    height: 70%;
    width: 100%;
    background-color: brown;
}
.funk-box {
    height: 24%;
    width: 100%;
    background-color: chocolate;
}
.likes-bar {
    height: 20%;
    width: 100%;
    background-color: beige;
}
.likes-info {
    height: 11%;
    widows: 100%;
    background-color: aqua;
}
.comment-box {
    height: 40%;
    widows: 100%;
    background-color: cadetblue ;
}
.comment-timer{
    height: 10%;
    widows: 100%;
    background-color: darkgray ;
}
.add-comment{
    height: 19%;
    widows: 100%;
    background-color: rgb(153, 23, 218) ;
}