.hidden {
    display: none;
}

.modal-background {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 8;
  background: rgba(0, 0, 0, 0.6);
}

.upload-form {
    position: fixed;
    top: 235px;
    left: 50%;
    margin-left: -288px;
    background-color: #FAFAFA;
    border-radius: 20px;
    z-index: 10;
    height: 320px;
    width: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upload-text {
    margin-top: 25px
}
.upload-form > img {
    margin-bottom: 25px;
}
.upload-form > h1 {
    font-size: 20px;
} 
.upload-text > p {
   color: #003569;
}

.upload-form > label {
    width: 100px;
    height: 30px;
    background-color: #3897f0;
    color: white;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin: 20px 0;
}

.upload-form > label:hover {
    animation-name: expand;
    animation-duration: 0.5s;
    cursor: pointer;
}
@keyframes expand {
  from {
    opacity: 0;
    width: 100px;  
  }
  to {
    width: 130px;
    opacity: 1;
  }
}

.upload-form > label > input {
  display: none;
}


